.headerContainer {
    position: absolute;
    background-color: rgb(23, 23, 23);
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 0.5rem 1rem 0.5rem;
    z-index: 1;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.logoContainer h3 {
    color: white;
    font-weight: 200;
}

h3:first-child{
    font-weight: 800;
    color: red;

}