.formContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(42, 42, 42);
    color: white;
    padding: 2rem 3rem 2rem 3rem;
    /* border-right: 2px solid rgb(149, 149, 149); */
    height: 100%;
    width: 50%;
}

.formContainer form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.formContainer form input {
    width: 100%;
    background-color: transparent;
    border: 1px solid grey;
    color: white;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.formContainer form input:focus {
    outline: none;
}

.formContainer form input[type="submit"] {
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
    width: 100%;
    background-color: grey;
}

.formContainer form input[type="submit"]:hover {
    background-color: rgb(140, 140, 140);
}

.formContainer h1 {
    margin-bottom: 2rem;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.inputErrorMessage {
    color: red;
    font-style: italic;
    font-size: 0.75rem;
}

.passwordErrorContainer p {
    color: red;
    font-weight: 600;
    font-size: 0.85rem;
    margin-bottom: 0.25rem;

}

.passwordErrorContainer li{
    color: red;
    font-style: italic;
    font-size: 0.75rem;

}